.form-layout {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

.package-buttons {
  margin-top: 10px;
}

.form-submit {
  margin: 15px;
  padding: 10px 15px;
  width: fit-content;
  background-color: #3e3e3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
