.about {
  padding-bottom: 50px;
}

.our-descriptions {
  display: flex;
  flex-direction: column;
}

.signature  {
  text-align: right;
  font-style: italic;
}

.signature p {
  font-weight: 100;
}

@media (min-width: 768px) {
  .our-descriptions {
    flex-direction: row;
  }
}

.competence-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.competence-icon{
  width: 4%;
  margin: 15px;
}