.about-container {
  background: linear-gradient(
    264.99deg
    ,rgba(190, 191, 191, 0.8),rgba(52, 52, 52, 0.9) 95.58%); 
    padding: 20px 0;
}

.about {
  padding-bottom: 50px;
  margin-right: 0;
  margin-top: -70px;
  
}

.our-descriptions {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #fff;
}


@media (min-width: 768px) {
  .our-descriptions > * {
    width: 50%;
  }
}



.signature  {
  text-align: right;
  font-style: italic;
}

.signature p {
  font-weight: 100;
}

@media (min-width: 768px) {
  .our-descriptions {
    flex-direction: row;
  }
}

.competence-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.competence-icon{
  width: 50px;
  margin: 15px;
}