.about {
  margin: 0;
  padding: 0;
}

.our-descriptions {
  background-color: #fff;

}

@media (min-width: 768px) {
  .descriptions > * {
    width: 50%;
  }
  .our-descriptions {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .descriptions {
    display: flex;
    flex-direction: row;
  }
  .about {
    padding: 50px 0 50px 50px;
    margin-right: 0;
    margin-top: -140px;
  }
}

.signature  {
  text-align: right;
  font-style: italic;
}

.signature p {
  font-weight: 100;
}

.competence-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.competence-icon{
  width: 50px;
  margin: 15px;
}