.contact-total {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

@media (min-width: 768px) {
  .contact-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 50px 0;
  background-color: #fff;
  margin-top: -140px;
  margin-left: 0;
  width: 70vw;
}

.devis-container {
  display: flex;
  justify-content: flex-end;
}

.devis {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 50px 0;
  background-color: #fff;
  margin-bottom: -140px;
  margin-right: 0;
  /* margin-top: 20px; */
  width: 90vw;
}

@media (min-width: 768px) {
  .contact {
    width: 40vw;
  }
  .devis {
    width: 55vw;
    margin-top: 0;
  }
}


.contact-form {
  width: 80%;
}

.input, textarea {
  border: none;
  border-bottom: solid 1px #000000;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}
