 .copyright {
  text-align: center;
  font-size: 0.7em;
  line-height: 10px;
}

.copyright p {
  padding: 0;
}

.fa-copyright {
  font-size: 0.5em;
}

.vts {
  font-size: 0.8em;
}

.vts a {
  color: #000;
}