.copyright {
  text-align: center;
  font-size: 0.7em;
  line-height: 10px;
  background-color: var(--background);
  color: var(--color-inverse);
}

.copyright p {
  padding: 0;
  margin: 0;
}

.fa-copyright {
  font-size: 0.5em;
}

.vts {
  font-size: 0.8em;
}

.vts a {
  color: var(--color-inverse);
}
