.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  align-items: center;
  margin-top: -100px;
}

.footer p {
  margin: 0;
}

.footer input {
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
}

.set-language-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  width: 15%;
  margin: 20px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer > * {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  margin: 15px;
  color: #fff;
  text-decoration: none;
  width: 25%;
}

.location-icon {
  width: 6%;
}

.footer-icon:visited {
  color: #fff;
  text-decoration: none;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-icon {
  margin-right: 10px;
}

.set-language-footer {
  margin: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.logo-footer {
  width: 50%;
}

.select-language-menu {
  background-color: var(--color-highlight);
  color: #000;
  position: fixed;
  z-index: 1;
  top: 75vh;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.select-language-menu p {
  padding: 0 10px;
}

.language-option {
  border-bottom: 1px solid #fff;
  padding: 5px;
}

.language-icon-footer {
  margin-right: 20px;
}
