@font-face {
  font-family: 'P22 Typewriter Regular';
  src: local('P22 Typewriter Regular'), url(../fonts/P22\ Typewriter\ Regular.ttf) format('truetype');
}

h1, h2, h3, h4 {
  font-family: "P22 Typewriter Regular";
  text-align: center;
}

p {
  font-size: 0.6em;
  line-height: 25px;;
}

button {
  font-family: "P22 Typewriter Regular";
  border: none;
  padding: 10px;
  margin: 10px;
  min-width: 100px;
}

.content {
  margin: 0 100px;
}

