@font-face {
  font-family: 'P22 Typewriter Regular';
  src: local('P22 Typewriter Regular'), url(../fonts/P22\ Typewriter\ Regular.ttf) format('truetype');
}

:root {
  --color-highlight: rgb(214, 212, 212);
  --color-dark: #494949;
  --color-special: #0f62ff;
}

body{
  cursor: url("../images/pointer.png")
  /* , url("custom.cur") */
  , default;  background-color: rgb(251, 251, 251);

}


h1, h2 {
  font-family: "P22 Typewriter Regular" ;
  text-align: center;
  margin-bottom: 10px;
}

h3, h4 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
}

h5 {
  padding: 20px;
}

p {
  font-size: 0.6em;
  line-height: 25px;
  padding: 20px;
}

 a {
  text-decoration: none;
  color: #000;
}

 a:visited {
  color: #000;
}

button {
  font-family: "P22 Typewriter Regular" ;
  border: none;
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  transition: background-color 500ms ease;
}

button:hover {
  background-color: var(--color-special);
  transition: background-color 500ms ease;
}


.content {
  flex-grow: 1;
  margin: 30px 20px ;
}

@media (min-width: 768px) {
  .content {
    flex-grow: 1;
    margin: 100px 100px 50px 100px;
  }
}

.title-underline-white {
  width: 100px;
  margin-top: 0;
  border: 1px solid #fff;
}

.centered-text{
  text-align: center;
}

.white-font {
  color: #fff;
}

.padding {
  padding: 20px;
}

.hidden-mobile{
  display: none;
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: inline;
  }
}

.hidden-desktop{
  display: inline;
}

@media (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }
}

.w3-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
.w3-animate-bottom {
  -webkit-animation: animatebottom 0.8s;
  animation: animatebottom 0.8s;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}
*, *:before, *:after {
  box-sizing: inherit;
}



@keyframes animatebottom {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
