.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.header-logo {
  width: 10%;
}

.menu-item {
  font-family: "P22 Typewriter Regular";
}

.dash {
  margin: 15px;
  font-size: 2em;
}