
.row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
.row {
  flex-direction: column;
}
}

.column {
  flex: 50%;
}

.c1 {
  border-right: 2px dotted var(--color-special);
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

.project-card-placeholder {
  height: 20vw;
}

.project-card {
  border-top: 2px dotted var(--color-special);
  height: 40vw;
}

@media (max-width: 768px) {
  .project-card-placeholder {
   display: none;
  }
  .project-card {
    border-top: 2px dotted var(--color-special);
    height: 80vw;
  }
  .c2 {
    border-left: 2px dotted var(--color-special);
  }
}


.bottom-card {
  border-top: 2px dotted var(--color-special);
}

.project-card-title {
  display: flex;
}

.client-logo {
  width: 15%;
  margin: 20px;
}