.work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.work-item {
  padding: 50px;
  margin: 20px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.work-item i {
  color: #fff;
}

.project-name {
  margin-left: 10px;
}

.product-description {
  font-size: small;
  /* min-height: 50px; */
  width: auto;
  margin-top: 20px;
}

.read-more {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  color: #fff;
  text-decoration: none;
}

.read-more:visited {
  color: #fff;
  text-decoration: none;

}

.project-title {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 20px;
  height: 20px;
}

.fa-arrow-right {
  color: lightgray;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  .work-container {
    flex-direction: row;
  }
  .work-item {
    width: 30%;
  }
}