

/* @media (min-width: 768px) { */
  .projects {
    /* background-image: url("../images/background-projects.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
/* } */


.workspace {
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  color: #000;
  width: 25%;
}



.seb-gourmet {
  background-image: url("../images/backgroundSebGourmet.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.claire-turner {
  background-image: url("../images/backgroundClaireTurner.png");
  background-size: contain;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.core-move {
  background-image: url("../images/backgroundCoreMove.png");
  background-size: contain;
  background-color: #30838c;
  background-repeat: no-repeat;
}

.client-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;;
}

.client-icon{
  width: 5%;
  margin: 15px;
}

.flip-card {
  width: 25vw;
  height:25vw;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front { 
  color: #fff;
  background: linear-gradient(
    264.99deg
    ,rgba(52, 52, 52, 0.9),rgba(190, 191, 191, 0.8) 95.58%); 
}

.flip-card-back {
   color: black;
  transform: rotateY(180deg);
}

.website-img {
  width:100%;
}