.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.welcome-logo {
  width: 80%;
}


.welcome-contact-icon {
  color: #fff;
  font-size: 50px !important;
  margin: 15px;
}

