.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3e3e;
  color: #ffffff;
}

.logo {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}
